frozendict==2.3.8
scikit-learn==1.5.0
pymongo==4.6.3
indexed-bzip2==1.5.0
internetarchive==3.5.0
nmslib==2.1.1
h5py==3.9.0
openai==0.28.0
ipykernel==6.25.0
plotly==5.9.0
nbformat==5.9.2
seaborn==0.12.2
kaleido==0.2.1
textual==0.41.0
pydot==1.4.2